:root {
  color-scheme: dark light;

  --base03: #002b36;
  --base02: #073642;
  --base01: #586e75;
  --base00: #657b83;
  --base0: #839496;
  --base1: #93a1a1;
  --base2: #eee8d5;
  --base3: #fdf6e3;
  --yellow: #b58900;
  --orange: #cb4b16;
  --red: #dc322f;
  --magenta: #d33682;
  --violet: #6c71c4;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;

  /* light theme */
  --background: var(--base3);
  --background-highlight: var(--base2);
  --content: var(--base00);
  --content-accent: var(--base01);
  --content-muted: var(--base1);
}

:root:has(body[data-theme='dark']),
body[data-theme='dark'] {
  --background: var(--base03);
  --background-highlight: var(--base02);
  --content: var(--base0);
  --content-accent: var(--base1);
  --content-muted: var(--base01);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--base03);
    --background-highlight: var(--base02);
    --content: var(--base0);
    --content-accent: var(--base1);
    --content-muted: var(--base01);
  }
}

@font-face {
  font-family: 'Cascadia';
  src: url('../assets/Cascadia.ttf');
}

body {
  font-family: 'Cascadia', system-ui, Helvetica, monospace;
  margin: 0;
  padding: 0;
  font-size: 16px;
  border: none;
  max-width: inherit;
  height: 100vh;
}

#app {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

select,
textarea,
input[type='text'],
input[type='number'] {
  background-color: var(--background);
  color: var(--content);
  border-color: var(--content-secondary);
  padding: 0.1rem 0.3rem;
}

option {
  padding: 0.1rem 0.3rem;
}

.nice-scroll {
  scrollbar-width: 8px;
  scrollbar-color: var(--content-muted) var(--background);
}

.nice-scroll::-webkit-scrollbar {
  width: 6px;
}

.nice-scroll::-webkit-scrollbar-track {
  background: var(--background);
  border: 1px solid var(--content-muted);
}

.nice-scroll::-webkit-scrollbar-thumb {
  background-color: var(--content-muted);
  border-radius: 5px;
  border: 1px solid var(--content-muted);
}
