:root {
  /* TODO use Solarized colors */
  --base03: #002b36;
  --base02: #073642;
  --base01: #586e75;
  --base00: #657b83;
  --base0: #839496;
  --base1: #93a1a1;
  --base2: #eee8d5;
  --base3: #fdf6e3;
  --yellow: #b58900;
  --orange: #cb4b16;
  --red: #dc322f;
  --magenta: #d33682;
  --violet: #6c71c4;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;
}
:root:has(.actors-view) {
  margin: 0;
  background: none;
}
:root:has(.actors-view) body {
  border: none;
  padding: 0.3rem 0.1rem;
}

@font-face {
  font-family: 'Cascadia';
  src: url('../assets/Cascadia.ttf');
}

body {
  font-family: 'Cascadia', system-ui, Helvetica, monospace;
  margin: 0;
  padding: 0;
  font-size: 16px;
  max-width: auto;
}

#app {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 100%;
}

select,
textarea,
input[type='text'],
input[type='number'] {
  background-color: var(--base03);
  color: var(--base0);
  border-color: var(--base01);
  padding: 0.1rem 0.3rem;
}

option {
  padding: 0.1rem 0.3rem;
}
